@inherits UmbracoViewPage<Page>
@{
    Layout = "Master.cshtml";
}
<!-- metadata end -->
<ul>
  @foreach (var car in Model.CarList)
  {
    <li>
      <h2>@car.Name</h2>
      <img src="@car.Url">
    </li>
  }
</ul>
